<div class='user-posts'>
<%= render 'user', user: @user %>

    <div class='bio-container'>
    <h2>Bio </h2>
    <p class='bio'><%= @user.bio%> </p>
    </div>

 <%@user.recent_post.each do |post|%>
    <%= render 'post', post: post, user:post.author %>
 <%end%>

<%= link_to 'See all post', user_posts_path(@user), class: 'btn-all-post button'%>

</div>