<div class='user-posts'>
<%= render partial: 'user', collection: @user %>

    <div class='bio-container'>
    <h2>Bio </h2>
    <p class='bio'><%= @user[0].bio%> </p>
    </div>

<%= render partial: 'post', collection: Post.where(author: @user[0]).last(3)%>


<%= link_to 'See all post', user_posts_path(@user[0]), class: 'btn-all-post'%>

</div>