<div class='comment'>
<h4>Users comment on this post</h4>
    <% post.recent_five_comment.each do |comment|%>
     <p><strong><%=comment.author.name%> </strong> : <span><%=comment.text%></span></p>
    <%end%>
</div>