<h3>


<div style="width:40%; border:2px #333 solid; padding:10px">
Post <%=@post_id%> by user<%=@user%>

<p>
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet
lorem ipsum dolor sit amet, consectet 
</p>
</div>
</h3>