* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"] {
  outline: none;
  padding: 10px;
  margin: 5px;
  height: 45px;
  border-radius: 10px;
  width: 350px;
  border: solid 2px rgba(8, 8, 8, 0.452);
}

textarea {
  border: solid 2px rgba(8, 8, 8, 0.452);
  outline: none;
  padding: 10px;
}

label {
  display: block;
  padding: 10px;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: rgba(8, 8, 8, 0.877);
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 5px 10px;
  color: #f2f2f2;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

ul {
  list-style: none;
}

.in-out {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.in-out button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: capitalize;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}

.logo h1 {
  color: #5c4de6;
  border-right: #fff solid 2px;
  padding-right: 10px;
}

.nav-link {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}

main {
  min-height: 75vh;
}

.user-container {
  padding: 5px;
}

a {
  text-decoration: none;
}

.user-card {
  display: flex;
  gap: 24px;
  margin: 5px;
  border-bottom: 2px solid rgba(206, 204, 204, 0.911);
  padding: 5px;
}

.card-body {
  /* background-color: #383a59; */
  background-color: #f5f5f5de;
  width: 100%;
  padding: 10px;
}

.user-img {
  width: 120px;
  height: 120px;
}

.user-posts {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 10px;
}

.comment-form {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.comment-form button {
  border: none;
  outline: none;
  padding: 10px;
  width: 120px;
}

.button {
  background-color: rgba(8, 8, 8, 0.877);
  color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(8, 8, 8, 0.562);
  color: #f2f2f2;
  border-radius: 10px;
}

.bio-container {
  width: 50%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  background-color: #f2f2f2;
}

.btn-all-post {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  display: block;
  padding: 5px;
  margin: 8px;
}

.comment {
  padding: 10px;
  border: #f2f2f2 solid 2px;
  background-color: #f2f2f2;
  border-bottom: 2px solid rgba(206, 204, 204, 0.911);
}

.top-detail {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: 900;
}

.post-button {
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
}

.add-comment-form {
  padding: 10px;
  margin-left: 80px;
}

.comment-like-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 24px;
}

.desc {
  width: 50%;
  padding: 10px;
}

.btn-comment,
.btn-like {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: max-content;
  height: max-content;
}

footer {
  background-color: rgba(8, 8, 8, 0.877);
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #f2f2f2;
}

footer a,
footer strong {
  color: #5c4de6;
}

.login {
  padding: 10px;
  background-color: #b3aeae1e;
  margin: 0 auto;
  width: 40%;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.login input {
  width: 100%;
  padding: 8px;
  outline: none;
  border-radius: 10px;
  border: none;
}

.btn-login {
  color: #fff;
  background: #5c4de6;
  border: none;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.45rem;
  cursor: pointer;
  margin-top: 30px;
}

.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  font-family: sans-serif;
}

.form-signup input,
textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.7rem;
}

.form-signup input {
  height: 2rem;
  border-radius: 0;
  outline: none;
}

.form-signup input[type="file"] {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.form-signup textarea {
  height: 4rem;
}

.form-signup label {
  font-size: 1rem;
}

.form-signup .field {
  line-height: 1rem;
}

.form-signup em {
  color: red;
  font-size: 0.7rem;
}

.form-signup .actions {
  line-height: 1rem;
}

.form-signup input[type="submit"] {
  color: white;
  background: #5c4de6;
  border: none;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.45rem;
  cursor: pointer;
}

.link {
  text-align: center;
  padding: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}
