<header>
    <%= link_to users_path, class: 'logo' do%>
    <%= image_tag 'logo.jpg'%>
    <%end%>

    <ul>
        <li><%= link_to "User List", users_path, class:'nav-link'%> </li>
    </ul>
</header>