<header>
    <%= link_to users_path, class: 'logo' do%>
    <h1><strong><i>Siy Blog</i></strong></h1>
    <%end%>

    <ul>
        <li><%= link_to "User List", users_path, class:'nav-link'%> </li>
    </ul>
</header>